omegaconf
pydantic
python-dotenv
gradio
tqdm
soundfile
librosa

# remote режим
vllm
openai

# local режим
torch
transformers
xgrammar

# Пакеты для тестов, линтера, ..
httpx
pytest
pytest-asyncio
wemake-python-styleguide

# Пакеты для инструментов
rapidfuzz>=3.0.0
yandex-music>=3.0.0

# Пакеты для оценки и визуализации
matplotlib>=3.5.0
qwen-tts